/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;      /* remove default browser margin */
  padding: 0;     /* remove default browser padding */
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* optional: prevent horizontal scroll */
  background-color: black;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%), 
  url('/bosses-background.jpg') center center / cover no-repeat;
  display: flex;
  flex-direction: column; /* So top-bar and content stack vertically */
  align-items: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* 🔹 Top Bar */
.top-bar {
  position: relative; /* or fixed if you want it to stay on top */
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  box-sizing: border-box; /* ✅ include padding in width */
  background-color: rgba(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.logo {
  font-family: 'Inter', 'Segoe UI', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #f5f5f5;
  letter-spacing: 0.5px;
}

.item-icon {
  width: 2.5vw;
  object-fit: contain;
}

.header-item {
  text-align: left;
}

.header-currency {
  text-align: right;
}

.sort-icon {
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
}

.sort-icon-wrapper.asc .sort-icon {
  clip-path: inset(0 0 50% 0);
  transition: clip-path 0.5s ease;
}

.sort-icon-wrapper.desc .sort-icon {
  clip-path: inset(50% 0 0 0);
  transition: clip-path 0.5s ease;
}

.sort-icon-wrapper.unsorted .sort-icon {
  clip-path: inset(0 0 0 0);
  transition: clip-path 1s ease;
}

.cell-contents-currency {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9vw;
  gap: 0.5vw;
}

.cell-contents-item {
display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9vw;
  gap: 0.5vw;
}